body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1{
    color: #900101;
    font-size: 40px;
    
}
form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: #f1d0d0;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

button[type="button"] {
    width: 300px;
    height: 30px;
    background-color: #ff3434;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #ff0000;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
